@model Geep.Models.Core.Beneficiary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beneficiary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreadeTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreadeTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeSubType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeSubType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BVN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BVN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrendBankId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrendBankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacialPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacialPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmileIdZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmileIdZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmileReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmileReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnumerated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnumerated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantoLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantoLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorFirstPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorFirstPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeopoliticalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeopoliticalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Association)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Association.AssociationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterLocation.ClusterLocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BeneficiaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
